---
import Footer from "../../components/Footer.astro";
import { NotesApp } from "../../components/notes/NotesApp";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Notes - OpenLeaf">
  <main class="min-h-screen flex flex-col px-6 py-12 max-w-xl mx-auto">
    <NotesApp client:load />

    <Footer />
  </main>
</Layout>
