---
import { NotesApp } from "../../components/notes/NotesApp";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Notes - OpenLeaf">
  <main class="min-h-screen flex flex-col px-6 py-12 max-w-xl mx-auto">
    <NotesApp client:load />

    <footer class="pt-8 text-[#888]">
      <p>Created by <a href="https://github.com/AVGVSTVS96" class="text-[#888]">@AVGVSTVS96</a></p>
    </footer>
  </main>
</Layout>
