---
import Footer from "../components/Footer.astro";
import { CreateVault } from "../components/vault/CreateVault";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Create Vault - OpenLeaf">
  <header class="mb-8">
    <a href="/" class="text-secondary no-underline hover:text-primary">← Back</a>
  </header>

  <div class="flex-1">
    <h1 class="text-xl font-bold mb-6 md-h1">Create new vault</h1>
    <CreateVault client:load />
  </div>

  <Footer />
</Layout>
