---
// Shared footer component
---

<footer class="pt-12 pb-8 text-xs text-muted-foreground">
  <p>Created by <a href="https://github.com/AVGVSTVS96">Bassim</a>, clone of <a href="https://rhinoleaf.app">rhinoleaf</a> by <a href="https://x.com/hesselbom">@hesselbom</a></p>
</footer>
